@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
<p>@ViewBag.ErrorMessage</p>
<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index","Producto")'">Volver</button>